@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.completed-task {
	text-decoration: line-through;
}

.task-update-button {
	color: #fff;
	background: #000000;
	margin: 0 0 0 10px;
	/* padding: 5px 20px; */
	font-family: 'Indie Flower', cursive;
}

.task-update-button:hover { 
background: #E85F4C;
}

.task-list {
	display: flex;
	align-items: center;
}

.updateTask-button {
	font-size: 20px;
	padding: 0 0 0 10px;
	cursor: pointer;
}

.deleteTask-button {
	font-size: 20px;
	padding: 0 0 0 10px;
	cursor: pointer;
}

.task-complete-button {
	font-size: 20px;
	padding: 0 0 0 10px;
	cursor: pointer;
}

.update-form {
	display: flex;
	align-items: center;
}

.complete-task-list {
	display: flex;
	align-items: center;
}

.task-comment-button {
  font-size: 20px;
	padding: 0 0 0 10px;
	cursor: pointer;
}