@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.header {
  max-width: 1170px;
  width: 100%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img {
  height: 80px;
}
.header-profile {
  position: relative;
  display: flex;
  align-items: center;
}
.header-dropdown {
  border: 1px solid black;
  position: absolute;
  bottom: -87px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
}
.dropdown-link {
  margin: 0;
  color: black;
  text-decoration: none;
  padding: 3px 0;
}
.header-more-icon {
  padding: 0 15px;
  cursor: pointer;
}

.header-logo {
  height: 80px;
}

.logo-blok {
  display: flex;
  align-items: center;
}

.name-project {
  font-family: 'Indie Flower', cursive;
}