@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.login-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Indie Flower', cursive;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  
  font-weight: bold;
  font-size: 20px;
}

.form-group-input {
  margin: 15px 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.form-button {
  color: #fff;
  background: black;
  padding: 5px 20px;
  font-weight: bold;
} 

.form-heading {
  margin: 0;
  font-size: 100px;
}

.form-button {
  color: #fff;
  background: #000000;
  padding: 5px 20px;
  font-family: 'Indie Flower', cursive;
} 
.form-button:hover { 
  background: #E85F4C;
 }
.form-button:active { 
  background: #980F00;
 }